.players-banner-gradient {
  background: rgba(255,255,255,1);
  background: -moz-radial-gradient(center, ellipse cover, rgb(200, 200, 200) 0%, rgb(173, 173, 173) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(173, 173, 173,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(200, 200, 200,1) 0%, rgba(173, 173, 173,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(200, 200, 200,1) 0%, rgba(173, 173, 173,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(200, 200, 200,1) 0%, rgba(173, 173, 173,1) 100%);
  background: radial-gradient(ellipse at center, rgba(200, 200, 200,1) 0%, rgba(173, 173, 173,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c2c2c2', GradientType=1 );
}

.align-everything-center{
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.navbar-toggle{
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background: $white;
    border-radius: 1px;
  }
}

.no-scroll{
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
.scroll{
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  height: 100vh;
}


.overlay{
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: $main-red;

}

a, button{
  .hover{
    display: none;
  }

  &:hover{
    .hover{
      display: inline;
    }
    .no-hover{
      display: none;
    }
  }
}

input, button, textarea{
  @include transition(all 0.3s ease-in-out);
}

// Oversizing screen by menu

.no-padding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@keyframes rotatingSaver {
  0%   {
    transform: rotate(0deg) ;
    -webkit-transform: rotate(0deg) ;
    -moz-transform: rotate(0deg) ;
    -o-transform: rotate(0deg) ;
    -ms-transform: rotate(0deg) ;
  }
  50%  {
    transform: rotate(180deg) ;
    -webkit-transform: rotate(180deg) ;
    -moz-transform: rotate(180deg) ;
    -o-transform: rotate(180deg) ;
    -ms-transform: rotate(180deg) ;
  }
  100% {
    transform: rotate(359deg) ;
    -webkit-transform: rotate(359deg) ;
    -moz-transform: rotate(359deg) ;
    -o-transform: rotate(359deg) ;
    -ms-transform: rotate(359deg) ;
  }
}
.animate-rotate{
    -webkit-animation: rotatingSaver 0.8s infinite linear;
    -moz-animation: rotatingSaver 0.8s infinite linear;
    -o-animation: rotatingSaver 0.8s infinite linear;
}


