// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  769px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

/* This file is fixing ipad (768px) issue with sm-columns */
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";



// Colors
$transparent: hsla(0,0%,0%,0);
$white: #fff;
$black: #333;
$full-black: #000;
$main-green: #53a746;
$main-blue: #1f9bde;
$main-orange: #ffbf01;
$menu-separator:#525e8e;
$main-red: #c30e2e;

$gray: #ededed;

$hr-color: #d9d9d9;
//Fonts weight
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;

$openSans:'Open Sans', sans-serif;
$borgiaPro: 'Borgia Pro', sans-serif;


