doctype html
html.no-js
    head
        meta(charset='utf-8')
        title Insys - Test app
        meta(name='description' content='')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./css/app.css")
        link(href='http://onlinetv.inea.pl/Content/css/bootstrap.min.css', rel='stylesheet', type='text/css')
        link(href='http://onlinetv.inea.pl/Content/css/base-style.css', rel='stylesheet', type='text/css')
        link(href='http://onlinetv.inea.pl/Content/css/base-style-480.css', rel='stylesheet', type='text/css')
        link(href='http://onlinetv.inea.pl/Content/css/epg-base-style.css', rel='stylesheet', type='text/css')
        link(href='http://onlinetv.inea.pl/Content/css/inea-online-style.css', rel='stylesheet', type='text/css')
        link(href='http://onlinetv.inea.pl/Content/css/inea-online-style-ie8.css', rel='stylesheet', type='text/css')
    body.home(style='overflow:hidden;')
        | <!--[if lt IE 9]>
        |   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        | <![endif]-->
        .additionalBodyBg
            header#header
                .container
                    .brand
                        a(href='/')
                            img(src='http://onlinetv.inea.pl/Content/images/inea-logo.png', alt='inea online', title='inea online')
                        span.inea
                            | Infolinia:
                            strong 61 222 22 22
                    .inea_menu.hidden-xs
                        ul
                            li.biura_obslugi
                                a(target='_blank', href='http://www.inea.pl/kontakt/biura_obslugi/') Biura Obsługi
                            li
                                a(target='_blank', href='http://www.inea.pl/eboa/') eBOA
                            li
                                a(target='_blank', href='http://www.inea.pl/poczta/') Poczta
                            li
                                a(target='_blank', href='http://www.inea.pl/strefa-abonenta/faq/ogolne/') Strefa Abonenta
                            li
                                a(target='_blank', href='http://www.inea.pl/kontakt/') Kontakt
                .navbar(role='navigation')
                    nav
                        .right
                            .search
                                form(action='/Epg', method='get')
                                    input#SearchQuery.text(placeholder='szukaj w programie...', name='SearchQuery', type='text', value='')
                                    input.icon-search.btn(type='submit', name='', value='szukaj')
                            #headerLogin.login_control(aria-labelledby='twoje konto', role='navigation')
                                ul
                                    li.login
                                        a(href='/Account/Login', title='', target='_parent') Logowanie

            block content


script(src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
script(src='./js/app.js')

